body{
  background-color: white;
}
.field-name-field-son,.field-name-field-explanation {
  display: none;
}

.quiz-report{
  .field-name-field-son, .field-name-field-explanation{
    display: block;
  }
}
article.node-quiz{
  float: left;
  width: 45%;
  margin-right: 5px;
}
